@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,400&family=Oswald&display=swap');

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

body{
  font-family: 'Lora', serif;
  font-weight: 400;
}

.bg-chat-outer-dark {
  background-color: #26262E;
}
.bg-chat-dark {
  background-color: #3f434b;
}

.bg-chat-green {
  background-color: #D8FEAB;
}

#chat3:focus {
  /* border-color: initial !important;
  box-shadow: none !important; */
  background-color: #3f434b;
}

.title-text {
  font-family: 'Oswald', sans-serif;
}

.persona-title {
  font-family: 'Lora', serif;
  font-weight: 700;
  color: #F5AC72;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #3f434b; 
}
 
::-webkit-scrollbar-thumb {
  background: #F5AC72; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f7caa9; 
}

@media (max-width: 992px) {
  .persona-list-container {
    max-height: 300px;
  }
}

